.appointhomegrp:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .appointhome {
    width: 882px;
    margin: 60px auto 0;  
  }
  
  
  .appointhomegeneral {
      padding: 2em;
      background-color: rgb(239, 252, 239);
      border-radius: 4px;
      border: 1px solid rgb(130, 228, 130);
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
      font-family: 'PT Sans', Arial, sans-serif;
  }
  
  .appointhomegeneral input[type=text],
  .appointhomegeneral input[type=email],
  .appointhomegeneral input[type=tel],
  .appointhomegeneral textarea {	
      border: 1px solid rgb(153, 202, 129);
      border-radius: .2em;	
      font-family: 'PT Sans', Arial, sans-serif;
      font-size: 1.1em;
      padding: .4em 1em;
      margin: 0 0 .8em;
      width: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.08) inset;
  }
  
  .appointhomegeneral textarea {
      height: 160px;
  }
  

  .appointhomegeneral input[type=button] {
      background-color: #DC3545;
      border: 1px solid #DC3545;
      border-radius: 4px;
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-family: inherit;
      font-size: 1.4em;
      padding: 10px 18px;
  }
  
  span.appointhomeitem {
      display: block;
      margin-left: -.02em;
  }
  