#but {
	box-sizing: border-box;
	width: 110px;
	height: 40px;
	border: 1px solid dodgerblue;
	margin: auto;
	border-radius: 4px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: dodgerblue;
	color: white;
	font-size: 20px;
	cursor: pointer;
	display:block; margin: 0 auto;
}