* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    min-width: 100px;
    margin: 2%;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
    height: 25px;
    background-color: #DC3545;
    color: white;
    min-height: 40px;
}

.items {
    text-align: center;
}

.item {
    display: inline-block;
    width: auto;
    border: 1px solid gray;
    padding: 1%;
    margin: 2%;
}

.item img {
    min-width: 250px;
    min-height: 150px;
    max-width: 250px;
    max-height: 150px;
}