*, *:before, *:after {
	box-sizing: border-box;
}
body {
	
	background-attachment: fixed;
	background-size: contain;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	font-size: 12px;
	font-weight: 400;
}

.sudokuRow:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.sudokuGrid  {
	width: 100%;
	height: 100%;	
}

.sudokuGridEmpty {
	max-width: 416px;
	margin: auto;
	display: block;
  	position: relative;
  	border: #AAA solid 2px;
  	border-radius: 6px;
  	font-size: 2em;
  	color: #777;
}

.sudokuGridEmpty-bk {
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    z-index:1;
}

.sudokuRow {
	display: block;
  	position: relative;
  	width: 100%;
  	z-index: 2;
}

.sudokuCol {
	width: 11.11%;
	min-height:45px;
	position: relative;
  	float: left;
  	border-color: #CCC;
	border-style: dashed;
	border-width: 2px 2px 0 0;
}

.sudokuRow.sdk-border {
	border-bottom: #AAA solid 2px;
}

.sudokuCol.sdk-border {
	border-right: #AAA solid 2px;
}

.sudokuGridEmpty .sudokuRow .sudokuCol:last-child {
	border-right: none;
}

.sudokuGridEmpty .sudokuRow:first-child .sudokuCol, 
.sudokuGridEmpty .sudokuRow:nth-child(4) .sudokuCol, 
.sudokuGridEmpty .sudokuRow:nth-child(7) .sudokuCol {
	border-top: none;
}

.sudokuRow:first-child .sudokuCol:nth-child(n+4):nth-child(-n+6),
.sudokuRow:nth-child(2) .sudokuCol:nth-child(n+4):nth-child(-n+6),
.sudokuRow:nth-child(3) .sudokuCol:nth-child(n+4):nth-child(-n+6),
.sudokuRow:nth-child(7) .sudokuCol:nth-child(n+4):nth-child(-n+6),
.sudokuRow:nth-child(8) .sudokuCol:nth-child(n+4):nth-child(-n+6),
.sudokuRow:nth-child(9) .sudokuCol:nth-child(n+4):nth-child(-n+6),
.sudokuRow:nth-child(4) .sudokuCol:nth-child(n+1):nth-child(-n+3),
.sudokuRow:nth-child(5) .sudokuCol:nth-child(n+1):nth-child(-n+3),
.sudokuRow:nth-child(6) .sudokuCol:nth-child(n+1):nth-child(-n+3),
.sudokuRow:nth-child(4) .sudokuCol:nth-child(n+7):nth-child(-n+9),
.sudokuRow:nth-child(5) .sudokuCol:nth-child(n+7):nth-child(-n+9),
.sudokuRow:nth-child(6) .sudokuCol:nth-child(n+7):nth-child(-n+9)
 {
background-color: rgba(0,0,0,0.04);
}

.sudokuCol.sdk-selected {
	background-color: rgba(100,100,100,0.2) !important;
	-webkit-animation: .8s .1s pulse infinite linear;
  	-moz-animation: .8s .1s pulse infinite linear;
  	-o-animation: .8s .1s pulse infinite linear;
  	animation: .8s .1s pulse infinite linear;
}

.sudokuCorrectAnswer {
	padding: 4px;
	text-align: center;
}

.sdk-helper {
	background-color: rgba(100,100,100,0.2);
	color: #000;
}
    
.sudokuAnswerPicker {
	max-width: 416px;
	margin: auto;
	margin-top: 50px;
	display: block;
  	position: relative;
	background: #f9f9f9;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	padding: 20px;
}   

.sudokuButton {
	display: block;
	width: 100%;
	text-align: center;
	padding: 12px 28px;
	border-radius: 3px;
	background: #707070;
	color: rgba(255, 255, 255, 0.9);
	font-size: 2em;
	text-decoration: none;
	margin-bottom: 5px;
}

.sudokuButton:hover{
	color: rgba(243, 94, 94, 1);
}

.sudokuAnswerContainer {
	max-width: 416px;
	margin: auto;
	margin-top: 10px;
	display: block;
  	position: relative;
}

.sudokuAnswerContainer .sudokuButton {
	display:inline-block;
	width: 11.11%;
	padding: 5px;
}

.sudokuBlank {
	opacity: 0;
}